name: Update Changelog

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate Changelog
        uses: scottbrenner/generate-changelog-action@v1.3.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit Changelog
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add CHANGELOG.md
          git commit -m "Update CHANGELOG.md" || echo "No changes to commit"
          git push
